<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Adicionar usuário">
    <p>
      <mat-toolbar class="toolbar" color="primary">
        <span >Adicionar Usuário</span>
      </mat-toolbar>
    </p>
    <form action="POST" class="formulario" *ngIf="!submitted">

        <mat-form-field appearance="legacy">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome"
          type="text"
          class="form-control"
          id="nome"
          required
          [(ngModel)] = "usuario.nome"
          name="nome">
          <mat-icon matSuffix>personal</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email"
          type="text"
          class="form-control"
          id="email"
          required
          [(ngModel)] = "usuario.email"
          name="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Telefone</mat-label>
          <input matInput placeholder="Telefone"
          type="text"
          class="form-control"
          id="telefone"
          required
          [(ngModel)] = "usuario.telefone"
          name="telefone">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <button class="btn btn-primary" (click) = "saveUsuario()"
         color="primary" id="salvo">Enviar</button>

    </form>

  </mat-tab>
  <mat-tab label="Lista de usuários">
    <table class="table table-success table-striped">
      <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th colspan="4">Telefone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td >{{usuario.nome}}</td>
          <td>{{usuario.email}}</td>
          <td >{{usuario.telefone}}</td>
          <td>
            <a href="#!"><mat-icon matSuffix>edit</mat-icon> </a>
          </td>
          <td>
            <a  href="#!"><mat-icon matSuffix>delete</mat-icon></a>
          </td>
        </tr>

      </tbody>
    </table>
  </mat-tab>
</mat-tab-group>
